/* General */
* {
	font-family: Ubuntu;
}

/* Encabezados */
h1, h2, h3, h4, h5 {
	font-family: Ubuntu;
}

/* Navbar */
.navbar-default {
	padding-top: 20px;
	background: url(../Resources/Image/background.png) no-repeat center right;
	border: none;
	height: 300px;
}

.navbar .nav > li > a {
	color: #ffffff;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	font-size: 24px;
}

.navbar .navbar-collapse {
	text-align: right;
}

.navbar-brand {
	background: url(../Resources/Icon/icon.png) no-repeat center center;
	position: static;
	width: 58px;
	height: 58px;
	background-size: cover;
}


#footer-right {
    text-align: right;
}

#footer-left {
    margin-left: auto;
    margin-right: auto;
}

#socialMedia {
    height: inherit;
    vertical-align: bottom;
}

footer {
    background-color: rgb(204,204,204);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

ul.nav a:hover {
	color: #cccccc !important;
}

/* Header */
.jumbotron {
	background: transparent;
	text-align: center;
	font-size: 64px;
	color: white;
}

/* Galería */
.row {
	line-height: 256px;
}

/* Body */
body {
	padding-top: 0;
	padding-bottom: 20px;
	background: #eeeeee;
	text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	position: static;
	padding-left: 20px;
	padding-right: 20px;
}

/* Formulario de contacto */
.form-group {
	text-align: left;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}
