/* General */
* {
	font-family: Ubuntu;
}

/* Encabezados */
h1, h2, h3, h4, h5 {
	font-family: Ubuntu;
}

/* Navbar */
.navbar-default {
	padding-top: 20px;
	background: url(../Resources/Image/background.jpeg) no-repeat center right;
	border: none;
	height: 300px;
}

.navbar .nav > li > a {
	color: #ffffff;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	font-size: 24px;
}

.navbar .navbar-collapse {
	text-align: right;
}

.navbar-brand {
	background: url(../Resources/Icon/icon.png) no-repeat center center;
	position: static;
	width: 90px;
	height: 90px;
	background-size: cover;
}

#footer-right {
	text-align: center;
}

#footer-left {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#socialMedia {
	height: inherit;
	vertical-align: bottom;
}

footer {
	background-color: rgb(204,204,204);
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
	border-radius: 0;
}

ul.nav a:hover {
	color: #cccccc !important;
}

/* Header */
.jumbotron {
	background: transparent;
	text-align: center;
	font-size: 64px;
	color: white;
}

/* Galería */
.row {
	line-height: 256px;
}

/* Imágenes del inicio */
#iconmoon {
	padding-right: 50px;
}

#icongg {
	padding-left: 50px;
}

#linkinicio {
	color: #000000;
	text-decoration: none;
}

	#linkinicio:hover {
		color: #555555;
		text-decoration: none;
	}

/* Formulario */
.form-group {
	font-size: 22px;
}

.btn {
	font-size: 24px;
	width: 128px;
}

/* Productos */
#descripciongg {
	padding-top: 100px;
	padding-left: 189px;
	padding-right: -600px;
}

#descripcionmoon {
	padding-top: 100px;
	padding-left: 15px;
	padding-right: 140px;
}

/* Acerca de */
#headerAbout {
    color:black; 
    padding-top: 200px;
    font-size: 70px;
}


/* Body */
body {
	padding-top: 0;
	padding-bottom: 20px;
	background: #eeeeee;
	text-align: center;
	margin: 0 0 100px;
}

html {
	position: relative;
	min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	position: static;
	padding-left: 20px;
	padding-right: 20px;
}

/* Formulario de contacto */
.form-group {
	text-align: left;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}
