<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<div>
		<p>@ViewBag.About</p>
	</div>
	<div>
		<p><h1>@ViewBag.Header1</h1></p>
		<p><h1>@ViewBag.Header2</h1></p>
	</div>
</body>

</html>
