<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<div>
		<h3>@ViewBag.About</h3>
	</div>
	<div>
		<p>
			<h1>@ViewBag.Header1</h1>
		</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="~/Resources/Image/mcdonalds.png" width=240 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/pepsi.png" width=256 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/cocacola.png" width=200 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/carozzi.png" width=256 />
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="~/Resources/Image/cementosbiobio.png" width=256 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/futuro.png" width=180 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/vtr.png" width=256 />
			</div>
		</div>
	</div>
	<div>
		<p>
			<h1>@ViewBag.Header2</h1>
		</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="~/Resources/Image/visualstudio.png" width=300 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/github.png" width=300 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/netbeans.png" width=300 />
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<img src="~/Resources/Image/cpp.png" width=150 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/cs.png" width=150 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/html5.png" width=150 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/mysql.png" width=200 />
			</div>
			<div class="col-md-3">
				<img src="~/Resources/Image/java.png" width=100 />
			</div>
		</div>
	</div>
</body>

</html>
