<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>@ViewBag.Text1</h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<a href="/Home/Products#manonthemoon">
					<img src="/Resources/Image/manonthemoon.png" />
				</a>
				<a href="/Home/Products#loteriagg">
					<img src="/Resources/Image/loteriagg.png" width=200 />
				</a>
			</div>
		</div>
	</div>
</body>