<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
</head>

<body>
	<div id="previewloteriagg">
		<h3>@ViewBag.Product1_Title</h3>
	</div>
	<div>
		@ViewBag.Product1_Description
	</div>
	<div id="previewmanonthemoon">
		<h3>@ViewBag.Product2_Title</h3>	
	</div>
	<div>
		@ViewBag.Product2_Description
	</div>
</body>

</html>
